#view_main {
    height: 1200px;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

#view_section {
    width: 100%;
    height: 1020px;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#view_section span {
    margin-top: 100px;
    font-size: 30px;
}
#view_section img {
    margin-top: 50px;
    width: 50vw;
}

@media (max-width: 900px) { /*768*/
    @media (max-width: 768px){
    }
    @media (min-width: 653px){
    }
}
@media (max-width: 450px) {
    @media (min-width: 350px) {
    }
}