* {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}
a {
    color: black;
    transition-duration: 0.7s;
    cursor: pointer;
    text-decoration: none;
}
a:hover {
    color: #585454;
}
button {
    transition-duration: 0.7s;
    cursor: pointer;
}
h1 {
    flex-grow: 1;
    height: 70px;
    padding-left: 20px;
    padding-top: 15px;
    align-items: center;
    font-size: xx-large;
    font-weight: 100;
}
h4 {
    font-weight: 100;
    padding-left: 10px;
    padding-right: 10px;
}
.fixed {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
    display: table;
}
.line {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}
.line hr {
    width: 80%;
    height: 2px;
    background-color: #faa916;
}
.image {
    position: relative;
    padding: 10px 20px;
    background-color: #EEEEEE;
}

#main_header {
    width: 100vw;
    height: 70px;
    background-color: #faa916;
    display: flex;
    align-items: center;
    margin: 0;
    box-sizing: border-box;
    padding-top: 5px;
}
#logo {
    width: 70px;
    height: 70px;
    padding-left: 40px;
}
.icon {
    width: 20px;
    height: 20px;
    padding-right: 3px;
}
#main_header aside {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.7s;
}
#main_header aside:hover {
    color: #585454;
    cursor: pointer;
}
#main_nav {
    width: 100vw;
    height: 50px;
    background-color: #faa916;
    box-sizing: border-box;
    margin-left: 0;
    box-shadow: 0px 8px 6px -6px black;
    position: relative; /* Ustawiamy pozycję na relative */
    z-index: 2;
    display: flex;
}
#main_nav div {
    position: relative;
    width: 25vw;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#main_footer {
    width: 100vw;
    height: 60px;
    background-color: #faa916;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-height: 1200px) {
    /*#body {
        height: 100vh;
    }
    #main_main {
        height: calc(100vh - 180px);;
    }*/
}
@media (max-width: 900px) { /*768*/
    * {
        font-size: small;
    }
    h1 {
        line-height: 2.3;
        font-size: x-large;
    }
    @media (max-width: 768px){
        #main_header span {
            display: none;
        }
        #main_nav span{
            display: none;
        }
    }
    @media (min-width: 470px){
        @media (max-width: 565px){
            #main_header aside {
                width: 100px;
            }
        }
    }
}
@media (max-width: 470px) {
    #main_header aside{
        display: none;
    }
    #logo {
        width: 50px;
        height: 50px;
    }
    .icon {
        width: 15px;
        height: 15px;
        padding: 0;
    }
}
@media (max-width: 350px){
    h1 {
        font-size: medium;
        line-height: 3;
    }
}
@media (max-width: 275px){
    h1 {
        font-size: small;
    }
}
@media (max-width: 230px){
    h1 {
        line-height: 25px;
    }
}