body {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: white;
}
button {
    width: 100px;
    height: 40px;
    background-color: #faa916;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 8px 8px -6px black;
    transition-duration: 0.7s;
    cursor: pointer;
}
button:hover {
    width: 120px;
    height: 48px;
    color: #585454;
    cursor: pointer;
}
.background-image {
    width: 100vw;
    height: 70vh;
}
#main_main {
    width: 100vw;
    height: calc(100vh - 180px);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#slideshow {
    overflow: hidden;
    height: calc(100vh - 180px);
    width: 100vw;
    margin: 0 auto;
}
.slide {
    float: left;
    height: calc(100vh - 180px);
    width: 100vw;
    object-fit: fill;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    transition: 2s;
}
.slide-wrapper {
    width: calc(100vw * 4);
}
#slide_buttons {
    display: block;
    position: absolute;
    width: 100px;
    margin-left: calc(50vw - 50px);
    display: flex;
    justify-content: space-between;
    margin-top: calc(100vh - 300px);
}
.dot {
    width: 15px; 
    height: 15px; 
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.7s;
}
.dot:hover {
    background-color: rgba(0, 0, 0, 0.5);
    transition-duration: 0.7s;
}
.active {
    background-color: black;
    transition-duration: 0.7s;
}
.slide:nth-child(1) div{
    height: calc(100vh - 180px);
    background: url(./images/slajdy/10.png) 50% 50% no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.slide:nth-child(1) div div{
    width: 65vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    padding-left: 30px;
    background: transparent;
}
.slide:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.slide:nth-child(2) div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 180px);
    background: url(./images/slajdy/8.png) 70% 30% no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#slide2_text_div {
    height: 30vh;
    background: transparent;
}
.slide:nth-child(2) span {
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    width: 43vw;
    
}
.slide:nth-child(2) img {
    width: 20px;
    height: 20px;
    display: block;
}
.slide:nth-child(2) h4 {
    display: block;
    width: 40vw;
    margin-top: 0;
    padding-left: 5px;
}
.slide:nth-child(3) div{
    display: flex;
    height: calc(100vh - 180px);
    width: 100vw;
    background: url(./images/slajdy/12.png) 50% 50% no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.slide:nth-child(3) div div:nth-child(1){
    width: 100vw;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    background: transparent;
    padding-left: 10px;
    padding-right: 10px;
}
.slide:nth-child(4) div {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 180px);
    background: url(./images/slajdy/14.png) 50% 50% no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.slide:nth-child(4) div div {
    width: 40vw;
    height: 100%;
    padding-left: 30px;
    padding-top: 30px;
    background: transparent;
}
.navigation {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.navigation-btn {
    border: 2px solid #de6a23;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.navigation-btn:not(:last-child) {
    margin-right: 40px;
}
.navigation-btn:hover {
    background: #de6a23;
}
@media (orientation: portrait){
    .slide:nth-child(1) div{
        background: url(./images/slajdy/t1.jpg);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        margin-bottom: 0;
    }
    @media (min-height: 700px) {
        .slide:nth-child(1) div{
            background: url(./images/slajdy/t1.jpg);
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            
            margin-bottom: 0;
        }
        .slide:nth-child(2) div{
            background: url(./images/slajdy/8.png) 50% 50% no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            justify-content: flex-start;
            padding-top: 5vh;
        }
        .slide:nth-child(3) div{
            background: url(./images/slajdy/t2.jpg) 50% 50% no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        .slide:nth-child(4) div{
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        .slide:nth-child(4) div div {
            width: 80vw;
            height: 20vh;
            padding-left: 30px;
            padding-top: 30px;
            background: transparent;
        }
    }
}