h2 {
    font-size: 2em;
    padding: 50px;
    text-align: center;
}
hr {
    height: 1px;
    width: 70vw;
    margin-left: 0;
    color: black;
    background-color: black;
}
body {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
#main_main {
    width: 100%;
    height: auto;
    background-color: white;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    padding-bottom: 200px;
    align-items: center;
}
#gallery {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
}
.gallery_dog {
    display: flex;
    flex-direction: column;
    height: 320px;
}
.gallery_dog_name {
    height: 100px;
    display: flex;
    align-items: center;
}
.gallery_dog_name img {
    margin-right: 5px;
    width: 60px;
    height: 60px;
}
.gallery_dog_images{
    height: 300px;
    padding-left: 20px;
    display: flex;
    align-items: center;
}
.arrow {
    transition-duration: 0.7s;
    cursor: pointer;
}
.gallery_dog_images img{
    height: 200px;
    margin-right: 10px;
    margin-left: 10px;
}
.more_images {
    width: 50px;
    border: none;
    background-color: transparent;
}
.more_images:hover {
    color: #585454;
}
.more {
    display: block;
}
.less {
    display: none;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Przyciemnienie tła */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Możesz dostosować wartość z-index według potrzeb */
}

.overlay-image {
    max-width: 60vw; /* Maksymalna szerokość obrazka */
    max-height: 80vh; /* Maksymalna wysokość obrazka (jeśli potrzebujesz) */
    display: block;
    margin: 0 auto; /* Wyśrodkowanie obrazka */
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    z-index: 1001; /* Wyżej niż overlay */
}
@media(max-width: 400px){
    .gallery_dog_images img{
        height: 150px;
    }
    .gallery_dog_images{
        padding-left: 5px;
    }
}
@media(max-width: 350px){
    .gallery_dog_images img{
        height: 120px;
    }
}