#view_main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#view_section {
    width: 100%;
    height: auto;
    background-color: white;
    padding-bottom: 50px;
    display: flex;
    padding-bottom: 200px;
}
.main{
    margin: 20px;
    padding: 50px;
    margin-left: 8vw;
}
div.gallery {
    margin: 10px;
    padding: 0;
    background-color: #faa916;
    transition: 0.7s;
    float: left;
    width: 180px;
    height: 320px;
    display: grid;
    box-shadow: 9px 9px 5px -6px;
}
div.gallery:hover {
    background-color: #92640f;
}
div.gallery img {
    width: 100%;
    height: auto;
    margin-top: 0;
    padding-top: 0;
}
div.desc {
    padding: 15px;
    text-align: center;
}

@media (max-width: 900px) {
    @media (max-width: 768px){
    }
    @media (min-width: 653px){
    }
}
@media (max-width: 450px) {
    @media (min-width: 350px) {
    }
}